{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="Home">
    <div class="top-container" >
      <div class="HP">
        <h3 id="HT" style="font-family: 'Orelega One', cursive;">TECHNOLOGY REVOLUTION</h3>
        <h1 id="HO" style="font-family: 'Coda Caption', sans-serif;">ROBOSTRIXX</h1>
        <h4 id="HF">Worried about survillience of your property? <br> We got your problems. <br> Book a free Demo for the Robostrixx now!</h4>
        <a href="{% url 'dashboard' %}">
        <button type="button" class="btn btn-outline-primary btn-lg" id="btn1">Learn More</button>
        </a>
      </div>  
      </div>
      </div>
    </div>
  </section>

  <section id="Features">
    <div class="mid-container" >
      <div class="sp-i">
        <img class="img-fluid" src="{% static 'images/blue-button.jpg' %}" alt="">
        <div class="centered">Features</div>
      </div>
      <div class="SP">
        <div class="card-group">
          <div class="card">
            <img src="{% static 'images/card-1.png' %}" class="card-img-top" alt="Robot">
            <div class="card-body">
              <h5 class="card-title">Where and How?</h5>
              <p class="card-text">Out of a thousand issues around us, the one which is in our grip is our security. One of the most crucial laws is to not invade another human's privacy, but has that stopped crime in this country? </p>
            </div>

          </div>
          <div class="card" style="background-color:#393e46">
            <img src="{% static 'images/card-2.png' %}" class="card-img-top" alt="Car">
            <div class="card-body" style="color:white;">
              <h5 class="card-title-dark">What is RoboStrixx</h5>
              <p class="card-text">Out of a thousand issues around us, the one which is in our grip is our security.One of the most crucial laws is to not invade another human's privacy, but has that stopped crime in this country?</p>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'images/card-3.png' %}" class="card-img-top" alt="Sensor">
            <div class="card-body">
              <h5 class="card-title">Node MCU</h5>
              <p class="card-text">NodeMCU is an open source firmware for which open source prototyping board designs are available. The term "NodeMCU" strictly speaking refers to the firmware rather than the associated development kits.</p>
            </div>
          </div>
        </div>
        <img class="img-fluid float-right" src="{% static 'images/blue-corner.png' %}" alt="">
      </div>
    </div>
  </section>

  <section id="Blog">
    <div class="b-mid-conatiner" >
      <div class="bp-i">
        <img class="img-fluid float-right" src="{% static 'images/red-button.jpg' %}" alt="">
        <div class="center">Blog</div>
      </div>
      <div class="BP">
        <div class="card-group">
          <div class="card">
            <img src="{% static 'images/blog-1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Robot Replaces Human Brains</h5>
              <p class="card-text">Artificial intelligence is a subset of computer science that focuses on machine-driven intelligence.
                It is based on the notation that human cognition is systemic and organized set of processes that can be mechanized and replicated. </p>
            </div>
            <div class="card-footer">
              <a href="https://medium.com/predict/the-trial-of-an-artificial-brain-84edc401c6c6" target="_blank">
              <button type="button" class="btn btn-outline-info">Read More &#8594;</button>
              </a>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'images/blog-2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HardWare in Robotics</h5>
              <p class="card-text">Building a Robot from scratch involves choosing the right software and hardware.
                Now this article explains the hardware side: The computers, the motors, the sensors with which to equip the robot.</p>
            </div>
            <div class="card-footer">
              <a href="https://admantium.medium.com/robot-systems-hardware-overview-56e55e310e91" target="_blank">
              <button type="button" class="btn btn-outline-info">Read More &#8594;</button>
              </a>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'images/blog-3.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software in Robotics</h5>
              <p class="card-text">When you build your own robot, you need to make two essential decisions: Its hardware and software. My background is
                software development, so I will start to investigate the design questions for my robot from that direction as well.</p>
            </div>
            <div class="card-footer">
              <a href="https://admantium.medium.com/self-made-robot-software-stack-overview-c39d5f53ed28" target="_blank">
              <button type="button" class="btn btn-outline-info">Read More &#8594;</button>
            </a>
            </div>
          </div>
        </div>
      </div>
      <img class="img-fluid float-left" src="{% static 'images/red-corner.png' %}" alt="" style="transform: rotate(180deg);">
    </div>
  </section>

  <section id="Book">
    <div class="bottom-container">
      <div class="ap-i">
        <img class="img-fluid float-left" id="img_robo" src="{% static 'images/robot-3.png' %}" alt="">
      </div>
      <div class="AP">
        <h1 style="font-family: 'Orelega One', cursive; font-size: 40px;"><strong>Why ROBOSTRIXX</strong></h1>
        <h5 style="font-family: 'Fira Sans', sans-serif; margin-top:50px;"><strong>In the current circumstances of Covid-19 pandemic, taking care of independent houses and farmhouses is a serious issue for most house owners. When we look into the future, post Covid times, the demand for automated security and surveillance will continue to increase as most of the things will shift to online. 
          Robostrixx comes into play with its state of the art technology backed with multiple sensors providing an entire report of your property, available to you in your mobile phone. It's on duty, 24*7 having flame sensors to sense fire, obstacle, shock, tilt sensors and path tracking for seamless operations, 360 degree rotating camera giving you an entire watch on the property 
          Complete surveillance solutions for your property in your mobile phones while sitting at the comfort of your sofa. What more can one ask for?</strong></h5>
        <a href="#container">
        <button type="button" class="btn btn-primary btn-lg" style="margin-top:50px;">Book A Demo &#x0290D;</button>
        </a>
      </div>
    </div>
  </section>

  <div class="vid ml-auto mr-auto">
    <iframe width="50%" height="315" src="https://www.youtube.com/embed/mT2Dclpx9RI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <br><br>
  {% include 'partials/_alerts.html' %}
  <div class="last-container">
    <div class="container" id="container">
      <div class="row1">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form class="form"  action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h2 class="Htwo">BOOK A DEMO</h2>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Your name</label>
                        <input name="name" type="text"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone">Phone</label>
                        <input name="phone" type="text" maxlength="50" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="address">Address</label>
                        <input name="address" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="message">Message</label>
                        <input name="message" type="text"  class="form-control">
                    </div>
                    <div class="form-group">
                        <button value="send" type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Book A Demo</button>
                    </div>
                        <p>Got Other Queries? Contact us at <a style="color:#04009a;" href="">RoboStrixx</a></p>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
