{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id="container">
    <div class="row1">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form class="form"  action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h2 class="Htwo">BOOK A DEMO</h2>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Your name</label>
                        <input name="name" type="text"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone">Phone</label>
                        <input name="phone" type="text" maxlength="50" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="address">Address</label>
                        <input name="address" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="message">Message</label>
                        <input name="message" type="text"  class="form-control">
                    </div>
                    <div class="form-group">
                        <button value="send" type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Book A Demo</button>
                    </div>
                        <p>Got Other Queries? Contact us at <a style="color:#04009a;" href="">RoboStrixx</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}